ol.funnel-steps-box li {
	padding: 1.5em;
	padding-left: 4em;
	counter-increment: item;
	background: ghostwhite;
	border-top: 2px solid snow;
}



li.element-step:before {
  margin-right: 10px;
  content: counter(item);
  background: gray;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 2px;
  float: left;
  margin-left: -3em;
  margin-top: 0.7em;
 }

li.element-step div.leading-line {
	width: 0px;
  height: 4em;
  border-left: 2px dotted silver;
  position: relative;
  float: left;
  margin-left: -2.4em;
  margin-top: 2.1em;
}

li.element-step p {
	margin-top: 0.1em;
}

button.delete-step {
    float: right;
    background: grey;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    position: relative;
    right: 0px;
    bottom: 30px;
}

ol.funnel-steps-box li.instructions {
	background: snow;
  padding-top:0;
}

li.instructions:before {
  margin-right: 10px;
  content: counter(item);
  background: transparent;
  border-radius: 100%;
  border: 2px dotted grey;
  color: grey;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 2px;
  float: left;
  margin-left: -3em;
  margin-top: 0.7em;
}

li.instructions p {
	padding: 1em;
}

li.instructions p:first-child {
	margin-top: 0.2em;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 1px solid silver;
}

li.instructions p:last-child {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}