.funnel-widget-1234 {
	background: snow;
	border: solid black 2px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	width: 400px;
	height: 550px;
	font-size: 1em;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.funnel-widget-1234  p{
	margin: 0;
}

.funnel-widget-1234 .funnel-header {
	background: #f4364c;
	color: white;
	padding: 2em;
	padding-left: 4em;
}

.funnel-widget-1234 button.close-funnel {
		float: right;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -7px;
}

.funnel-widget-1234 .step-counter {
	background: snow;
	color: #f4364c;
	border-radius: 5px;
	padding: 2px 10px;
	margin-left: 10px;
}

.funnel-widget-1234 .funnel-info {
	border-top: 5px solid lightgray;
	padding: 1em;
	padding-left: 4em;
}

.funnel-widget-1234 .funnel-info:before {
  margin-right: 10px;
  content: "i";
  background: white;
  border-radius: 100%;
  color: grey;
  border: 2px solid grey;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 2px;
  float: left;
  margin-left: -3em;
  margin-top: 0.7em;
 }

 .funnel-widget-1234 .funnel-info p{
 	margin-top: 8px;
 }

.funnel-widget-1234 ol.funnel-steps-box {
	overflow-y: scroll;
	max-height: 275px;
}

ol.funnel-steps-box{
	list-style: none;
  counter-reset: item;
  padding: 0;
  margin: 0;
}

.funnel-widget-1234 .funnel-actions {
	padding: 1em;
}

button.submit-funnel {
	background: green;
	color: white;
	border-radius: 5px;
	padding: 10px 20px;
	margin-left: 10px;
	border: none;
	text-transform: uppercase;
	margin-left: 4em;
	font-weight: bold;
}
